<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="./stylesheets/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="./stylesheets/shop.css">
	<link rel="stylesheet" href="./stylesheets/style.css">
	
	
	<script src="./javascripts/angular.js"></script>
	<script src="./javascripts/leledacart.js"></script>
	<script src="./javascripts/jquery-1.7.2.js"></script>
	<script src="./javascripts/jq.js"></script>
	<script src="./javascripts/gensui.js"></script>

	
</head>
<body ng-controller="cartCtrl">
	<!--页眉开始-->
	<a href="#"><div id="gensui">联系客服</div></a>
	<header>
		<div id="header_one">
			<div id="header_text">
				<a href="#" class="">欢迎游客访问,</a>
				<span class="header_dl"><a href="./register.html">登录</a></span>
				<span class="header_dl"><a href="./login.html">注册</a></span>
				<span class="header_erect">|</span>
				<span><a href="#">我的订单</a></span>
				<!-- <span class="header_erect">|</span>
				<span id="header_gwc"><a href="#">购物车(<span style="color:#f0792a;width:10px;">{{cartNum}}</span>)</a></span> -->
			</div>
		</div>
	</header>

	<div id="header_nav" class="shop_width">
	
		<div class="header_nav_img">
			<img src="images/Leledalogo.png" alt="">
		
			
		</div>
		<ul class="header_nav_ul">
				<li><a href="./index.html">首页</a></li>
				<li><a href="./shop.html">果粉商城</a></li>
				<li><a href="#">我要维修</a></li>
				<li><a href="#">果粉资讯</a></li>
				<li><a href="#">果粉论坛</a></li>
				<li><a href="#">拆机教程</a></li>
				<li><a href="#">关于我们</a></li>
				<li><a href="#">帮助中心</a></li>
		</ul>
		<img id="yinying" src="./images/shadow.png" alt="">
	
	</div>
	<div class="qc"></div>
	<main id="shop_main">
		<div id="shop_main_nav" class="shop_width">
			<ul>
				<li>推荐</li>
				<li>销量</li>
				<li>新品</li>
				<li>价格↑</li>

			</ul>
		</div>
	<div class="qc"></div>
	<!--商品列表-->
	<div class="shop_type shop_width">
		<div class="shop_sj" ng-repeat="item in goodsList" id="{{item['ybj']}}">
			<div class="liansd">
				<img ng-src="{{item['url']}}" alt="">
				<div class="shang">		
				</div>
				<p>
					<a href="#" class="gwc" title="加入购物车"></a>
					<a href="#" class="sc"  title="收藏"></a>
					<a href="./details.html" class="dk"  title="打开链接"></a>
					<a href="#" class="db"  title="加入对比"></a>
				</p>
				<div id="tel_name">{{item.name}}<span style="color:#f0792a;">&nbsp;&nbsp;&nbsp;&nbsp;{{item.price}}</span></div>
				
			</div>
			<button id="shop_btn" class="btn btn-warning" href="#" ng-click="buy(item.gid)">立即购买</button>
		</div>
		<div id="cart">
		
		<div class="cartNum">{{cartNum}}</div>
		</div>
		<div class="zongjia" id="dianji">总价:{{total | currency}}<p>查看购物车</p></div>
		<!--购物车显示区域-->
		<div id="cart-page">
			<div class="cart-main">
				<ul class="cart-list">
					<li class="cart-list-li" ng-repeat="item in cartList">
						<div class="cart-list-li-img"><img ng-src="{{item['url']}}"></div>
						<div class="cart-title">商品名<br>{{item['name']}}</div>
						<div class="cart-text">单价<br>{{item['price'] | currency}}</div>
						<div class="cart-text">
							<p>数量</p>
							<button ng-click="cartminus(item['gid'])" style="width:40px;height:40px;">-</button>	
							<input type="text" ng-model="item['num']" style="width:40px;height:40px;">
							<button ng-click="cartadd(item['gid'])" style="width:40px;height:40px;">+</button>	
						</div>
						<div class="cart-text">
							小计:<br>
							{{item['price']*item['num']}}
						</div>
						<a href="#" id="del" ng-click="del(item)">删除</a>
					</li>
				</ul>
				<h3>总计:{{total | currency}}</h3>
			</div>
		</div>
		
	</div>

	</main>
	<!--分店开始-->

	<div class="qc"></div>
	<div id="fanzhuan">
		<h4>各大城市分店</h4>
		<div class="da">
			<div class="fan">
				<img src="./images/shanghai2.png" alt="">
				<span>上海市黄浦区成都北路500号，峻岭广场908fan</span>
				<br>
				<span>400-010-5678</span>
			</div>
			<div class="zheng">
				<img src="./images/shanghai.png" alt="">
				<span>上海市黄浦区成都北路500号，峻岭广场908zheng</span>
				<br>
				<span>400-010-5678</span>
			</div>
		</div>
		<div class="da">
			<div class="fan">
				<img src="./images/beijing2.png" alt="">
				<span>北京市海淀区中关村南大街17号韦<br>伯时代中心C座10层1005室</span>
				<br>
				<span>400-010-5678</span>
			</div>
			<div class="zheng">
				<img src="./images/beijing.png" alt="">
				<span>北京市海淀区中关村南大街17号韦<br>伯时代中心C座10层1005室</span>
				<br>
				<span>400-010-5678</span>
			</div>
		</div>
		<div class="da">
			<div class="fan">
				<img src="./images/shenzheng2.png" alt="">
				<span>深圳市福田区上步南路国企大厦(钢<br>琴博物馆)B座9b</span>
				<br>
				<span>400-010-5678</span>
			</div>
			<div class="zheng">
				<img src="./images/shenzheng.png" alt="">
				<span>深圳市福田区上步南路国企大厦(钢<br>琴博物馆)B座9b</span>
				<br>
				<span>400-010-5678</span>
			</div>
		</div>
		<div class="da">
			<div class="fan">
				<img src="./images/hangzhou2.png" alt="">
				<span>杭州市西湖区文三路478号华星时代广场C座303</span>
				<br>
				<span>400-010-5678</span>
			</div>
			<div class="zheng">
				<img src="./images/hangzhou.png" alt="">
				<span>杭州市西湖区文三路478号华星时代广场C座303</span>
				<br>
				<span>400-010-5678</span>
			</div>
		</div>
		<div class="da">
			<div class="fan">
				<img src="./images/guangzhou2.png" alt="">
				<span>广州市越秀区西湖路18-28广百新翼商务中心2422</span>
				<br>
				<span>400-010-5678</span>
			</div>
			<div class="zheng">
				<img src="./images/guangzhou.png" alt="">
				<span>广州市越秀区西湖路18-28广百新翼商务中心2422</span>
				<br>
				<span>400-010-5678</span>
			</div>
		</div>
	</div>
	<!--分店结束-->
	<div class="qc shop_gl"></div>
	<footer>
		<ul class="footer_first kuandu">
			<li><img src="./images/han20160928.png" alt="">行业领先者</li>
			<li><img src="./images/renmin0928.png" alt="">价格公开透明</li>
			<li><img src="./images/sdaasd.png" alt="">维修质量保障</li>
			<li><img src="./images/da.png" alt="">极速优质服务</li>
		
		</ul>
		<div class="kuandu">
			<ul class="footer_ul">
				<li>
					<h3>关于我们</h3>
					<p><a href="#">企业福利</a></p>
					<p><a href="#">加入我们</a></p>
					<p><a href="#">意见反馈</a></p>				
				</li>
				<li>
					<h3>服务中心</h3>
					<p><a href="#">服务流程</a></p>
					<p><a href="#">常见问题</a></p>
					<p><a href="#">用户协议</a></p>				
				</li>
				<li>
					<h3>友情链接</h3>
					<p><a href="#">啪啪商城</a></p>
					<p><a href="#">XY苹果助手</a></p>
					<p><a href="#">恺英网络</a></p>				
				</li>
				<li>
					<h3>关注我们</h3>
					<p><a href="#"><img src="./images/weibo.png" alt="">新浪微博</a></p>
					<p><a href="#"><img src="./images/weixin.png" alt="">官方微信</a></p>
					<p><a href="#"><img src="./images/AppXiaZai.png" alt="">APP下载</a></p>				
				</li>
				
			</ul>
			<div id="footer_lianxi">
				<div id="footer_lianxi_tel">
					<a href="#">400-066-0601</a>
				</div>
				<p>免费上门&nbsp;&nbsp;维修回收</p>
					<p>周一至周六 8:00—22:30</p>
			</div>
		</div>

	</footer>
	<div id="footer">
			<div id="shang"><a href=".com" id="jt">简体</a>&nbsp;&nbsp;| &nbsp;&nbsp;<a href=".com">繁体</a>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href=".com">English</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href=".com">常见问题</a></div>

			<div id="xia">乐乐达公司版权所有-京ICP备10046444-<a href="#" title="没"><img src="./images/ghs.png" alt="图已裂">京公网安备11010802020134号</a>-京ICP证110507号</div>
	</div>
</body>
</html>